*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: #a3b18a; */

}
.container{
    /* width: 80%; */
    /* height: 80%; */
    aspect-ratio: 1/1;
    border: 2px solid black;
    text-align: center;
    justify-self: center;
    background-color: #faedcd;
    color: #386641;
    margin-top: 5%;
    box-shadow: 10px;
}
.pallet{
    /* height: 25rem; */
  
    /* border: 3px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60vmin;
    background-color: #faedcd;
    justify-self: center;
    /* width: 20em; */
    aspect-ratio: 1/1;
}
.btn{
    /* border:2px solid ; */
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
    background-color: #ccd5ae;
    opacity: 0.75;
    border-radius: 30px;
    margin: 2px;
    cursor: pointer;
}
.reset-btn{
    font-size: x-large;
    width: 100px;
    margin: 0.01em;
    border: 1px solid #d4a373;
    background-color: #ccd5ae;
}